<a href="https://colab.research.google.com/github/mostafadarder72/Assignment-Implement-List-Class/blob/main/ass1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
from google.colab import files
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [8]:

data = pd.read_csv('creditcard.csv')

In [9]:
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [10]:

# Scale the features
scaler = StandardScaler()
data.iloc[:, 1:-1] = scaler.fit_transform(data.iloc[:, 1:-1])

In [11]:
# Check for missing values and duplicates
print("Number of missing values:", data.isnull().sum().sum())
print("Number of duplicates:", data.duplicated().sum())

Number of missing values: 0
Number of duplicates: 1081

In [12]:
# Rename the columns
data = data.rename(columns={'Class': 'Fraud'})

In [13]:
# Label encoding
encoder = LabelEncoder()
data['Fraud'] = encoder.fit_transform(data['Fraud'])

In [14]:
#Split the dataset into training and testing sets using the train_test_split() function from scikit-learn.
X_train, X_test, y_train, y_test = train_test_split(data.iloc[:, :-1], data['Fraud'], test_size=0.3, random_state=42)

In [15]:
# train the Naive Bayes classifier
nb = GaussianNB()
nb.fit(X_train, y_train)

# make predictions on test set
y_pred_nb = nb.predict(X_test)

# calculate accuracy, precision, recall, and F1 score
accuracy_nb = accuracy_score(y_test, y_pred_nb)
precision_nb = precision_score(y_test, y_pred_nb, average='weighted')
recall_nb = recall_score(y_test, y_pred_nb, average='weighted')
f1_score_nb = f1_score(y_test, y_pred_nb, average='weighted')

# print the performance metrics
print("Naive Bayes Classifier Performance Metrics")
print(f"Accuracy: {accuracy_nb}")
print(f"Precision: {precision_nb}")
print(f"Recall: {recall_nb}")
print(f"F1 Score: {f1_score_nb}")

Naive Bayes Classifier Performance Metrics
Accuracy: 0.9934576267219082
Precision: 0.9980772916102121
Recall: 0.9934576267219082
F1 Score: 0.9955093505082002

In [16]:
from sklearn.neighbors import KNeighborsClassifier
# train the KNN classifier
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)

# make predictions on test set
y_pred_knn = knn.predict(X_test)

# calculate accuracy, precision, recall, and F1 score
accuracy_knn = accuracy_score(y_test, y_pred_knn)
precision_knn = precision_score(y_test, y_pred_knn, average='weighted')
recall_knn = recall_score(y_test, y_pred_knn, average='weighted')
f1_score_knn = f1_score(y_test, y_pred_knn, average='weighted')

# print the performance metrics
print("\nKNN Classifier Performance Metrics")
print(f"Accuracy: {accuracy_knn}")
print(f"Precision: {precision_knn}")
print(f"Recall: {recall_knn}")
print(f"F1 Score: {f1_score_knn}")

KNN Classifier Performance Metrics
Accuracy: 0.9986774808936952
Precision: 0.9986792304214289
Recall: 0.9986774808936952
F1 Score: 0.9982079668072202

In [17]:
# train the SVM classifier
svm = SVC(kernel='linear', C=1, random_state=42)
svm.fit(X_train, y_train)

# make predictions on test set
y_pred_svm = svm.predict(X_test)

# calculate accuracy, precision, recall, and F1 score
accuracy_svm = accuracy_score(y_test, y_pred_svm)
precision_svm = precision_score(y_test, y_pred_svm, average='weighted')
recall_svm = recall_score(y_test, y_pred_svm, average='weighted')
f1_score_svm = f1_score(y_test, y_pred_svm, average='weighted')

# print the performance metrics
print("\nSVM Classifier Performance Metrics")
print(f"Accuracy: {accuracy_svm}")
print(f"Precision: {precision_svm}")
print(f"Recall: {recall_svm}")
print(f"F1 Score: {f1_score_svm}")

SVM Classifier Performance Metrics
Accuracy: 0.9984668141333989
Precision: 0.9980370816913345
Recall: 0.9984668141333989
F1 Score: 0.9981420782842714

In [18]:
print("\nComparison of Classifier Performance Metrics")
print("------------------------------------------------")
print("Classifier\tAccuracy\tPrecision\tRecall\t\tF1 Score")
print("------------------------------------------------")
print(f"Naive Bayes\t{accuracy_nb}\t{precision_nb}\t{recall_nb}\t{f1_score_nb}")
print(f"SVM\t\t{accuracy_svm}\t{precision_svm}\t{recall_svm}\t{f1_score_svm}")
print(f"KNN\t\t{accuracy_knn}\t{precision_knn}\t{recall_knn}\t{f1_score_knn}")

Comparison of Classifier Performance Metrics
------------------------------------------------
Classifier	Accuracy	Precision	Recall		F1 Score
------------------------------------------------
Naive Bayes	0.9934576267219082	0.9980772916102121	0.9934576267219082	0.9955093505082002
SVM		0.9984668141333989	0.9980370816913345	0.9984668141333989	0.9981420782842714
KNN		0.9986774808936952	0.9986792304214289	0.9986774808936952	0.9982079668072202